blockquote {
  margin-left: 50px;
  background: none;
  border: none;
}

article p img {
  margin-left: 0;
  margin-right: 0;
}

.footnote-ref {
  font-size: 70%;
  vertical-align: super;
}

.footnotes {
  font-size: 90%;
}

.footnotes a.footnote-backref {
  display: none;
}

.tocToggler,
.navBreadcrumb h2 {
  display: none;
}

.imageAlignSide .blockImage {
  max-width: 330px;
}

.imageAlignSide .blockImage img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 1px;
}

@media only screen and (max-width: 1023px) {
  .mainContainer .wrapper .post .postHeaderTitle {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  blockquote {
    margin-left: 100px;
  }

  .docs-prev,
  .docs-next {
    margin: 10px 0;
  }
}
